root            soft    core            {{ root_ulimit }}
root            hard    core            {{ root_ulimit }}
www-data        soft    core            {{ www_ulimit }}
www-data        hard    core            {{ www_ulimit }}
